#map {
  position: relative;
  overflow: hidden;
  height: 400px;
  max-width: 1024px;
  margin: 0 auto;
}
.m-weather {
  display: flex;
  flex-direction: row;
  max-width: 1024px;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: sans-serif;
  .town{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    background-color: #add8e6;
    width: 220px;
    color: #194553;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 17px 18px 22px -6px rgba(25,69,83,0.16);
    .town-title {
      font-weight: bold;
    }
    img {
      margin-left: 81px;
    }
  }
}